// Color system
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$azul-claro: #00bde2;
$azul-oscuro: #110e18;

$primary-color:       $azul-claro;
$secondary-color:     $azul-oscuro;
$bg-color:      $secondary-color;
$header-bg: #202026;
$btn-color:     $white;
$card-bg: #1e1d25;

//mapa definido para el tamaño de las fuentes
$font-sizes:(
    "small" : 12px,
    "normal" : 16px,
    "large" : 24px
);
