/*Página Sobre Mi*/
.seccion__dosColumnas{
    width: 49.8%;
    padding: 15px 0 15px 0;
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
}
.about__skills{
    margin: 20px 0;
}
.skills__item{
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px 0px;
    display: inline-block;
}
.skills__item span{
    border: 1px solid #00bde2;
    padding: 4px 10px;
    border-radius: 4px;
}
#about__experience h2{
    text-align: center;
}

.about__cvDownload{
    width: 90%;
    margin: 20px auto;
    text-align: center;
}
.about__cvDownload .btn{
    width: 30%;
    margin: auto;
}
.introduccion__imagen{
    height: 270px;
    text-align: center;
}
.seccion__imagen{
    object-fit: cover;
    width: auto;
    height: 100%;
    border-radius: 50%;
    border: 20px solid rgba(0, 189, 226, .6);
}


