/*Pagina de contacto*/
#contacto h1, #contacto p{
    text-align: center;
    margin-bottom: 20px;
}
#formularioContacto{
    margin-top: 35px;
    text-align: center
}
.form-row{
    width: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
   ;
}
.col{
    width: 45%;
    display: inline-block;
    margin: 0 2%;
}
.form-row input, textarea{
    width: 90%;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 15px;
}
input{
    height: 35px;
}
.form-row input::placeholder, textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: rgba(256, 256, 256, .6);
}
textarea{
    padding-top: 15px;
}
.form--btn{
    width: 50%;
    margin: auto;
    text-align: center;
}
.form--btn .btn{
    background: transparent;
}
