/*Main*/
.seccion__dosColumnas{
    width: 49.8%;
    padding: 15px 0 15px 0;
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
}
.info__item{
    margin-bottom: 15px;
    font-size: 15px;
}
.info__item i{
    margin-right: 15px;
}
.info__item, .redesSociales__item{
    list-style: none;
}
.introduccion__redesSociales{
    padding-left: 50px;
}
.redesSociales__item{
    margin-top: 20px;
    margin-right: 15px;
    display: inline-block;
}
.redesSociales__icon{
    color: #ffffff;
    font-size: 20px;
}
.redesSociales__icon:hover{
    color: #00bde2;

}
.introduccion__imagen{
    height: 270px;
    text-align: center;
}
.seccion__imagen{
    object-fit: cover;
    width: auto;
    height: 100%;
    border-radius: 50%;
    border: 20px solid rgba(0, 189, 226, .6);
}
.sobreMi__info{
    position: relative;
    bottom: 150px;
}
#sobreMi img{
    width: 100%;
    height: auto;
}
#loQueHago{
    margin-top: 50px;
}
.seccion__tresColumnas{
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}
.card{
    margin-top: 15px;
    padding: 20px;
    background-color: #1e1d25;
    box-shadow: -1rem 0 3rem #000;
    border-radius: 4px;
}
.card__title{
    font-size: 24px;
}
.card__description{
    opacity: 0.7;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 1rem;
}
.card__icon{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 16px;
    color: rgb(0, 189, 226);
}