/*Página habilidades*/
#skills__intro, #tecnicalSkills, #profesionalSkills{
    margin-top: 25px;
    margin-bottom: 25px;
}
#skills__intro h1, #skills__intro p{
    text-align: center;
}
#tecnicalSkills h2, #profesionalSkills h2{
    text-align: center;
}
.tecnicalSkills__info{
    width: 55%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tecnicalSkills__item{
    list-style-type: none;
}
.item--skill{
    margin-top: 15px;
    margin-bottom: 5px;
    flex: 30%;
    text-align: right;
}
.item--rating{
    flex: 70%;
    text-align: center;
}
.item--ratingValue{
    display: inline-block;
}

.rating--active, .rating--transparent{
    display: inline-block;
    margin: 0 3px;
    height: 10px;
    width: 10px;  
    border-radius: 100%; 
}
.rating--active{
    background: #00bde2;
}
.rating--transparent{
    border: 1px solid #00bde2;
}
