/* NAV */
header {
    position: sticky;
    background-color: $header-bg;
    z-index: 2;
}
.navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }
}
.navbar-toggler-icon {
    background-image: none;
    &::before {
        font-family: FontAwesome;
        content: "\f0c9"; /* fa-bars, fa-navicon */
    }
}
.nav-link {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    font-size: 0.95em;
    font-family: $RobotoSlab;
    text-transform: uppercase;
}
.nav__link--active,
.nav-link:hover {
    color: $primary-color;
}