/*Footer*/
footer {
    font-size: 15px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer__contenido {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__titulo {
    font-size: 0.95em;
    font-family: $RobotoSlab;
    text-transform: uppercase;
    font-weight: 700;
}
.footer__item {
    display: inline-block;
    margin-left: 25px;
    font-size: 13px;
}
.redesSociales__icon {
    margin-right: 25px;
}