/* NAV */
header{
    position: sticky;
    display: flex;
    justify-content: space-around;
    top: 0;
    background-color: #202026;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 2;
}

.nav__links{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
/* .nav__item{
    margin-right: 15px;
} */
.nav__link{
    color: #fff;
    text-decoration: none;
    font-size: .95em;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}
.nav__link:hover{
    color: #00bde2;
}
.nav__link--active{
    color: #00bde2;
    border-bottom: 1px solid #00bde2;
}

