* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #110e18;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
::selection {
  background-color: #00bde2;
}
/*Etiquetas de texto*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 60px;
  font-weight: 700;
}
h2 {
  font-size: 26px;
  margin-bottom: 30px;
}
h3 {
  font-size: 32px;
  font-family: "Roboto Slab", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
/*Botones*/
.btn {
  margin-top: 20px;
  padding: 8px 25px;
  text-transform: uppercase;
  display: block;
  color: #fff;
  border: 1px solid #eaeaea;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  width: max-content;
}
.btn:hover {
  border: 1px solid #00bde2 !important;
  color: #fff;
}
/* NAV */
header {
  position: sticky;
  background-color: #202026;
  z-index: 2;
}
.navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.navbar-toggler-icon {
  background-image: none;
}
.navbar-toggler-icon::before {
  font-family: FontAwesome;
  content: "\f0c9"; /* fa-bars, fa-navicon */
}
.nav-link {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  font-size: 0.95em;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #00bde2;
}
.nav__link--active {
  color: #00bde2;
  border-bottom: 1px solid #00bde2;
}

/*Main*/
/*Redes sociales*/
.info__item {
  margin-bottom: 15px;
  font-size: 15px;
}
.info__item i {
  margin-right: 15px;
}
.info__item,
.redesSociales__item {
  list-style: none;
}
.introduccion__redesSociales {
  padding-left: 50px;
}
.redesSociales__item {
  margin-top: 20px;
  margin-right: 15px;
  display: inline-block;
}
.redesSociales__icon {
  color: #ffffff;
  font-size: 20px;
}
.redesSociales__icon:hover {
  color: #00bde2;
}
.seccion__imagen img {
  width: 75%;
  border-radius: 50%;
  border: 15px solid rgba(0, 189, 226, 0.6);
}
/*Cards*/
.card {
  margin-top: 15px;
  padding: 20px;
  background-color: #1e1d25;
  box-shadow: -1rem 0 3rem #000;
  border-radius: 4px;
}
.card__title {
  font-size: 24px;
}
.card__description {
  opacity: 0.7;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 1rem;
}
.card__icon {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 16px;
  color: rgb(0, 189, 226);
}
/*Página Sobre Mi*/
.about__skills {
  margin: 20px 0;
  text-align: center;
  padding: 0;
}
.skills__item {
  margin: 0px 6px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 4px 0px;
  display: inline-block;
}
.skills__item span {
  border: 1px solid #00bde2;
  padding: 4px 10px;
  border-radius: 4px;
}
#about__experience h2 {
  text-align: center;
}

.about__cvDownload {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}
.about__cvDownload .btn {
  width: 30%;
  margin: auto;
}
/*Página habilidades*/
#skills__intro,
#tecnicalSkills,
#profesionalSkills {
  margin-top: 25px;
  margin-bottom: 25px;
}
#skills__intro h1,
#skills__intro p {
  text-align: center;
}
#tecnicalSkills h2,
#profesionalSkills h2 {
  text-align: center;
}
.tecnicalSkills__info {
  width: 55%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.tecnicalSkills__item {
  list-style-type: none;
}
.item--skill {
  margin-top: 15px;
  margin-bottom: 5px;
  flex: 30%;
  text-align: right;
}
.item--rating {
  flex: 70%;
  text-align: center;
}
.item--ratingValue {
  display: inline-block;
}

.rating--active,
.rating--transparent {
  display: inline-block;
  margin: 0 3px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.rating--active {
  background: #00bde2;
}
.rating--transparent {
  border: 1px solid #00bde2;
}
/*Página Portafolio*/
#portafolio__intro {
  text-align: center;
}
#myTab {
  width: 50%;
}
#myTab .nav-link.active {
  background-color: transparent;
}
#myTab .nav-link {
  color: rgba(255, 255, 255, 0.55);
}
#myTab .nav-link:hover {
  border-color: #00bde2 #00bde2 #00bde2;
}
/*Grid Area*/
.grid__galeria {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}
.grid__galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid__galeria--doubleHeight {
  grid-row: span 2;
}
.grid__galeria--doubleWidth {
  grid-column: span 2;
}
.grid__galeria--fullWidth {
  grid-column: span 3;
}
/*Pagina de contacto*/

#contacto input,
#contacto textarea {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  padding-left: 10px;
}
#contacto input.btn {
  padding: 8px 25px;
}
#contacto input,
#contacto textarea,
#contacto input::placeholder,
#contacto textarea::placeholder {
  color: #fff;
}
#contacto input {
  height: 35px;
}
.form-row input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: rgba(256, 256, 256, 0.6);
}
.form--btn {
  width: 50%;
  margin: auto;
  text-align: center;
}
.form--btn .btn {
  background: transparent;
}

/*Footer*/
footer {
  font-size: 15px;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer__titulo {
  font-size: 0.95em;
  font-family: "Roboto Slab", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.footer__item {
  display: inline-block;
  margin-left: 25px;
  font-size: 13px;
}
.redesSociales__icon {
  margin-right: 25px;
}
/*MediaQuerys*/

@media screen and (max-width: 992px) {
  h1 {
    font-size: 45px;
  }
  #introduccion__info {
    text-align: center;
    margin-top: 25px;
  }
  .seccion__imagen {
    text-align: center;
  }
  /*Skills*/
  .item--skill {
    flex: 100%;
    text-align: center;
  }
  .item--rating {
    flex: 100%;
  }
  .item--rating ul {
    padding: 0;
  }

  /*Footer*/
  .footer__contenido {
    padding-left: 0;
  }
  .footer__item {
    display: block;
    margin-top: 15px;
    margin-left: 0;
    text-align: center;
  }
}
/*Ipad*/
@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .seccion__imagen {
    display: none;
  }
  /*About*/
  #about__intro {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .about__cvDownload .btn {
    width: 50%;
  }
  /*Skills*/
  #tecnicalSkills h2,
  #profesionalSkills h2 {
    margin-bottom: 15px;
  }

  /*Portafolio*/
  #myTab {
    width: 80%;
  }
  .grid__galeria--single,
  .grid__galeria--doubleWidth,
  .grid__galeria--doubleHeight {
    grid-column: span 3;
  }
  .grid__galeria--doubleHeight {
    grid-row: span 1;
  }
}
/*Celular*/
@media screen and (max-width: 576px) {
  .seccion__imagen {
    text-align: center;
  }
  .seccion__imagen img {
    width: 50%;
  }
  /*About*/
  .skills__item {
    display: inline-flex;
  }
  /*Skills*/
  .tecnicalSkills__info {
    text-align: center;
    flex-direction: column;
  }
}
