



/******/

/*Media Queries - Responsive*/
/*Desktop*/
@media screen and (max-width: 1200px){
    /*Generales*/
    /*Homepage*/
    .grid__area{
        grid-template-areas: 
        "introduccion__info introduccion__imagen"
        "sobreMi__imagen  sobreMi__info "
        "loQueHago loQueHago "
        "loQueHago--1 loQueHago--2 "
        "loQueHago--3 loQueHago--3 ";
        grid-template-columns: 1fr 1fr;
    }
    .introduccion__redesSociales{
        text-align: center;
    }
    .sobreMi__imagen img{
        width: 80%;
    }
    .sobreMi__info .btn{
        margin: 30px auto;
    }
    /*About*/
    .seccion__imagen{
        height: 75%;
    }
    .seccion__dosColumnas{
        width: 90%;
        padding: 0;
        display: block;
        margin: auto;
        text-align: center;
    }
    .about__cvDownload .btn{
        width: 30%;
        margin: auto;
    }
    /*Skills*/
    /*Portafolio*/
    #portafolio__intro{
        width: 70%;
        margin: auto;
    }
    /*Contacto*/
    #contacto p{
        width: 60vw;
        margin: 20px auto;
    }
    #contacto .btn{
        margin: 20px auto;
    }

}
/*Tablet*/
@media screen and (max-width: 992px){
    /*Generales*/
    .contenedor{
        max-width: 960px;
    }
    /*Homepage*/
    .grid__area{
        grid-template-areas: 
        "introduccion__info introduccion__imagen"
        "sobreMi__info sobreMi__info "
        "loQueHago loQueHago "
        "loQueHago--1 loQueHago--2 "
        "loQueHago--3 loQueHago--3 ";
    }
    .sobreMi__imagen{
        display: none;
    }
    .card{
        padding: 20px 40px;
        text-align: center;
    }
    /*About*/
    .introduccion__imagen {
        display: none !important;
    }
    /*Skills*/
    /*Portafolio*/
    .grid__galeria{
        width: 80vw;
        grid-template: 1fr 1fr 1fr / 1fr 2fr 1fr 1fr;
    }
    /*Contacto*/

}
/*Ipad*/
@media screen and (max-width: 768px){
    /*Header*/
    header{
        position: relative;
        padding: 10px 0;
    } 
    .nav__links{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .nav__item{
        margin: 5px 0;
    }
    /*Generales*/
    .contenedor{
        max-width: 720px;
        margin: auto;
    }
    /*Homepage*/
    h1{
        margin-top: 0;
    }
    .grid__area{
        grid-template-areas: 
        "introduccion__info"
        "introduccion__imagen"
        "sobreMi__info "
        "loQueHago "
        "loQueHago--1"
        "loQueHago--2"
        "loQueHago--3 ";
        grid-template-columns: 1fr;
        width: 90vw;
    }
    .introduccion__info{
        text-align: center;
    }
    .sobreMi__info{
        width: 70vw;
        margin: auto;
        text-align: center;
    }
    .card{
        width: 50vw;
    }
    /*About*/
    .about__cvDownload .btn{
        width: 50%;
    }
    /*Skills*/
    .tecnicalSkills__info{
        width: 80%;
    }
    /*Portafolio*/
    .nav__tabs{
        width: 70%;
    }
    .nav__tabs--item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto 20px auto;
    }
    .grid__galeria{
        grid-template:  repeat(8, 1fr) / 1fr;
    }
    .grid__galeria--doubleHeight{
        grid-row: span 1;
    }
    .grid__galeria--doubleWidth{
        grid-column: span 1;
    }
    /*Contacto*/
    .form-row{
        width: 75%;
    }
    #contacto .btn {
        width: 80%;
    }
    /*Footer*/
    .footer__item{
        display: block;
        margin-top: 15px;
    }  

}
/*Celular*/
@media screen and (max-width: 576px){
    /*Generales*/
    h1{
        font-size: 45px;
    }
    .contenedor{
        max-width: 540px;
    }
    /*Skills*/
    #skills__intro{
        width: 90%;
        margin: 30px auto 0 auto;
    }
    .tecnicalSkills__info{
        text-align: center;
        flex-direction: column;
    }
    /*Portafolio*/
    #portafolio__intro{
        width: 90%;
        margin: auto;
    }
    .grid__galeria{
        row-gap: 10px;
        column-gap: 0;
        width: 90%;
        margin: auto;
        padding: 0;
    }
    /*Contacto*/
    .col{
        display: block;
        width: 100%;
        margin: 0 0 20px 0;
    }
    #contacto .btn{
        width: 100%;
    }

}