*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #110e18;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
::selection{
    background-color: #00bde2;
}
.contenedor{
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*Etiquetas de texto*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
    font-size: 60px;
    font-weight: 700;
}
h2{
    font-size: 26px;
    margin-bottom: 30px;
}
h3{
    font-size: 32px;
    font-family: "Roboto Slab","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

/*Botones*/
.btn{
    margin-top: 20px;
    padding: 8px 25px;
    text-transform: uppercase;
    display: block;
    color: #fff;
    border: 1px solid #eaeaea;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    width: 35%;
    margin-left: auto;
}
.btn:hover{
    border: 1px solid #00bde2;
}
/*Redes sociales*/
.redesSociales__item{
    margin-top: 20px;
    margin-right: 15px;
    display: inline-block;
}
.redesSociales__icon{
    color: #ffffff;
    font-size: 20px;
}
.redesSociales__icon:hover{
    color: #00bde2;

}

