.info__item{
    margin-bottom: 15px;
    font-size: 15px;
}
.info__item i{
    margin-right: 15px;
}
.info__item, .redesSociales__item{
    list-style: none;
}
.introduccion__redesSociales{
    padding-left: 50px;
}
.seccion__imagen{
    object-fit: cover;
    width: auto;
    height: 85%;
    border-radius: 50%;
    border: 15px solid rgba(0, 189, 226, .6);
}
.sobreMi__imagen{
    text-align: center;
}
.sobreMi__imagen img{
    width: 60%;
    height: auto;
}
.card{
    padding: 20px;
    background-color: #1e1d25;
    box-shadow: -1rem 0 3rem #000;
    border-radius: 4px;
    margin: auto;
}
.card__title{
    font-size: 24px;
}
.card__description{
    opacity: 0.7;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 1rem;
}
.card__icon{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 16px;
    color: rgb(0, 189, 226);
}

/*GRID*/
/*Grid Padre*/
.grid__area{
    display: grid;
    width: 80vw;
    margin: 50px auto;
    grid-template-areas: 
    
    "introduccion__info introduccion__info introduccion__imagen"
    "sobreMi__imagen sobreMi__imagen sobreMi__info"
    "loQueHago loQueHago loQueHago"
    "loQueHago--1 loQueHago--2 loQueHago--3";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 30px;
    
}
/*Habilitar para ver la grilla padre y sus hijos*/
/* .grid__area{
    border: 1px solid rgb(2, 250, 2);
}
.grid__area div{
    border: 1px solid red;
} */
/*HIJOS GRID*/

.introduccion__info{
    grid-area: introduccion__info;
    justify-self: center;
}
.introduccion__imagen{
    grid-area: introduccion__imagen;
    height: 320px;
    text-align: center;
}

.sobreMi__imagen{
    grid-area: sobreMi__imagen;
}
.sobreMi__info{
    grid-area: sobreMi__info;
    justify-self: start;
}
.loQueHago{
    grid-area: loQueHago;
}
.loQueHago--1{
    grid-area: loQueHago--1;
}
.loQueHago--2{
    grid-area: loQueHago--2;
}
.loQueHago--3{
    grid-area: loQueHago--3;
}
